<!DOCTYPE html>
<meta charset="utf-8" dir="rtl">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>تصاویر</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="static/style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">ایستگاه هواشناسی</h1>
							<small class="site-description">Rezvan.ghd</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">خانه</a></li>
							<li class="menu-item"><a href="history">تاریخچه</a></li>
							<li class="menu-item current-menu-item"><a href="photos">تصاویر</a></li>
							<li class="menu-item"><a href="contact">ارتباط با ما</a></li>
							<li class="menu-item current-menu-item"><a href="/logout">خروج</a></li>
						</ul> <!-- .menu -->
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/">خانه</a>
						<span>تصاویر</span>
					</div>
				</div>

				<div class="fullwidth-block" dir="rtl">
					<div class="container" dir="rtl">
						<div class="row" dir="rtl">
							<div class="col-md-6" dir="rtl">
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/1.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<br>
										<br>
										<h3 class="photo-title"><a href="#">جنگل دالخانی</a></h3>
										<p>جنگل دالخانی یکی از جنگل‌های کوهستانی نزدیک رامسر است که به دالان بهشت معروف شده این جنگل با رامسر فقط ۳۰ کیلومتر فاصله دارد و یکی از مزیت‌هایش این است که می‌توان از آن به ییلاق‌های زیبای این منطقه رفت
											  <br>
											  <br><br>
										</p>
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/2.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<br>
										<br>
										<h3 class="photo-title"><a href="#"> قلعه رودخان </a></h3>
										<p>شمال ایران فقط جنگل و دریا ندارد و در خودش جاذبه‌های زیادی را جای داده یکی از این جاذبه‌ها هم که خود انگیزه سفر بسیاریست قلعه رودخان است در فاصله ۲۵ کیلومتری فومن در استان گیلان
										<br>
										<br>
										<br>
										<br>
										</p>
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/3.jpg"  dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<br>
										<br>
										<h3 class="photo-title"><a href="#">اسلام به خلخال</a></h3>
										<p>یکی از زیبا تربن و رویایی ترین جاده های ایران جاده اسالم یه خلخال است در این جاده شما بسیاری از پدیده های طبیعی رو خواهید دید آبشار کوه جنگل و از دیدن این همه زیبایی در شگفت خواهید بود
										<br>
										<br><br>
										<br></p>
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/4.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">	<br>
										<br>
										<h3 class="photo-title"><a href="#">دره ستارگان</a></h3>
										<p>
										
											در ساحل جنوبی قشم به روستای برکه خلف می‌رسید و با رفتن به راه خاکی شمال این روستا منطقه‌ای وسیع جلوی رویتان قرار می‌گیرد که پر است از کوه‌های تو در تو و رسوبی گذشت زمان و باد و طوفان از این منطقه ستون‌ها دالان‌ها و حفره‌های تو در‌تویی ساخته است 
										</p>
									</div>
								</div>
								<!--
								<div class="photo">
									<div class="photo-preview photo-detail" data-bg-image="static/images/photo-5.jpg"></div>
									<div class="photo-details">
										<h3 class="photo-title"><a href="#">..</a></h3>
										<p>...</p>
									</div>
								</div>
									<div class="photo">
									<div class="photo-preview photo-detail" data-bg-image="static/images/photo-10.jpg"></div>
									<div class="photo-details">
									<h3 class="photo-title"><a href="#">..</a></h3>
									<p>...</p>
									</div>
								</div>
							-->
							</div>
							<div class="col-md-6" dir="rtl">
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/5.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<br>
										<h3 class="photo-title"><a href="#">باداب سورت</a></h3>
										<p>تصور کنین روی صخره های نارنجی رنگی قدم می زنین که لایه لایه زمین رو بالا رفتن و آب از بلورهای سنگی شان چکه می کنه رو که بر گردونین پشت سرتون زمین لایه لایه سبزآبیه و کمی اون طرف تر لایه لایه زرد مشابه همچین جایی تنها در سه کشور ترکیه امریکا و نیوزلند وجود داره اما شما برای دیدنش کافیه فقط تا ساری برین 
									    <br>
										<br>
										</p>
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/6.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<h3 class="photo-title"><br>
										<br><a href="#">جاده توسکستان</a></h3>
										<p>این جاده مسیری جنگلی‌ست که شاهرود را به گلستان می‌رساند مسیر آن در جنوب غرب گرگان از روستایی به همین اسم شروع می‌شود و تا دشت سرعلی‌آباد ادامه پیدا می‌کند آب و هوای این منطقه سرد و گاهی معتدل است
										<br>
											<br><br>
										</p>
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/7.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl">
										<br><br><h3 class="photo-title"><a href="#">ساحل درک</a></h3>
										<p>
											جایی که خشکی به ساحل میرسد
											روستای درک زرآباد که به دلیل نزدیکی به منطقه آزاد چابهار به روستای درک چابهار نیز معروف است، در 170 کیلومتری جنوب  چابهار در امتداد سواحل دریای مکران  و 10 کیلومتری  زر آباد  قرار دارد
											<br>
											<br><br>
										</p>
										
									</div>
								</div>
								<div class="photo" dir="rtl">
									<div class="photo-preview photo-detail" data-bg-image="static/images/8.jpg" dir="rtl"></div>
									<div class="photo-details" dir="rtl"><br>
											<br>
										<h3 class="photo-title"><a href="#">گردنه حیران</a></h3>
										<p>جاده‌ای که اگر از اردبیل به سمت آستارا برویم ما را در هر پیچ بیشتر در زیباییش فرو می‌برد از شیب‌های کوه که پایین که می‌آییم سمت راستمان کوه و سمت چپ تپه‌های سرسبز است	
											 می‌توان با توقف در مسیر سوار تله‌کابین شد و به بالای کوه رسید<br>
											<br>
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="col-md-3 col-md-offset-1">
						<div class="social-links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>

					<div class="text-muted">Copyleft by Rezvan.ghd
						<script type="text/javascript">
							document.write(new Date().getFullYear());
						</script>
					</div>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="static/js/jquery-1.11.1.min.js"></script>
		<script src="static/js/plugins.js"></script>
		<script src="static/js/app.js"></script>
		
	</body>

</html>